<h4>String Interpolation</h4>
{{aString}}
{{aNumber}}
<hr>
<h4>Property Binding</h4>
<p [innerText]="aString"> </p>
<div>
   <input type="text" value="{{aNumber}}">
<br>
    <input type="text" [value]="aNumber">
</div>

<div [ngClass]="{'red-border': false}">
Text
</div>

<div [ngClass]="{'red-border': attachClass}" [ngStyle]="{'background-color': 'blue'}">
Text
</div>

<div>
    <app-property-bindimng [name]="'Max'"></app-property-bindimng>
</div>
<hr>
<h4>Event Binding</h4>
<button (click)="attachClass=false">Klick mich!</button>

<button (click)="onClick($event)">Klick mich!</button>
<hr>
<app-event-binding (clicked)="aString = $event"></app-event-binding>
<hr>
<h4>Two-Way-Binding</h4>
<input type="text" [value]="aString" (keyup)="aString = input.value" #input>
<input type="text" [(ngModel)]="aString">